# Case Study on Testing of Hypothesis

In [1]:
import numpy as np
import pandas as pd

In [2]:
sales=pd.read_csv(r"C:\Users\paryn\Downloads\Sales_add.csv")

In [3]:
sales.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

The company wishes to clarify whether there is any increase in sales after stepping into digital marketing. Help the company to carry out their study with the help of data provided.

In [5]:
sales.shape

(22, 5)

In [6]:
#Sample size is less than 30. So T-test can be performed.

In [7]:
from scipy.stats import ttest_ind

In [8]:
t_stat,p_value = ttest_ind(sales['Sales_before_digital_add(in $)'],sales['Sales_After_digital_add(in $)'])

In [9]:
p_value

2.614368006904645e-16

In [11]:
if p_value<0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Rejected

In [12]:
#So there is an increase in company sales after stepping into digital marketing.

The company needs to check whether there is any dependency between the features “Region” and “Manager”.

In [13]:
from scipy.stats import chi2_contingency

In [14]:
relation=pd.crosstab(sales['Region'],sales['Manager'])

In [15]:
relation

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [16]:
chi2_contingency(relation)

Chi2ContingencyResult(statistic=3.050566893424036, pvalue=0.5493991051158094, dof=4, expected_freq=array([[4.09090909, 3.18181818, 2.72727273],
       [2.86363636, 2.22727273, 1.90909091],
       [2.04545455, 1.59090909, 1.36363636]]))

In [17]:
chi_stat,pvalue,dof,exp_values = chi2_contingency(relation)

In [18]:
if pvalue<0.05:
    print('Null Hypothesis Rejected')
else:
    print('Null Hypothesis Accepted')

Null Hypothesis Accepted

There is no relation between the features 'Region' and 'Manager'.